<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
	<title>Your Library</title>
	<link rel="icon" href="/img/reading.png" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<script crossorigin="anonymous" src="https://kit.fontawesome.com/3c78e2f7ea.js"></script>


<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/"><i class="fas fa-book-reader fa-2x"></i></a>
				</div>
				<ul class="nav navbar-nav">

					<li class="active"><a href="/">Home</a></li>
					<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin">Admin</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right" sec:authorize="!isAuthenticated()">
					<li><a href="/registrasi"><span
							class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					<li><a href="/login"><span
							class="glyphicon glyphicon-log-in"></span> Login</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right"
					sec:authorize="isAuthenticated()">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#"  sec:authentication="name"><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/logout">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<h2 class="registration text-center">Form Registration:</h2>
				<form style="background: ghostwhite" th:action="@{/registrasi}" th:object="${userDto}" method="post">
					<div class="form-group">
						<label for="firtsname">Firstname:</label> <input type="text"
							class="form-control" placeholder="" th:field="*{firstname}">
						<p th:each="error: ${#fields.errors('firstname')}"
							th:text="${error}">Validation error</p>
					</div>
					<div class="form-group">
						<label for="lastname">Lastname:</label> <input type="text"
							class="form-control" placeholder="" th:field="*{lastname}">
						<p th:each="error : ${#fields.errors('lastname')}"
							th:text="${error}">Validation error</p>
					</div>
					<div class="form-group">
						<label for="username">Username:</label> <input type="text"
							class="form-control" placeholder="" th:field="*{username}">
						<p th:each="error : ${#fields.errors('username')}"
							th:text="${error}">Validation error</p>
					</div>
					<div class="form-group">
						<label for="email">Email:</label> <input type="email"
							class="form-control" placeholder="Enter email"
							th:field="*{email}">
						<p th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation
							error</p>
					</div>
					<div class="form-group">
						<label for="password">Password:</label> <input type="password"
							class="form-control" placeholder="" th:field="*{password}">
						<p th:each="error : ${#fields.errors('password')}"
							th:text="${error}">Validation error</p>
					</div>
					<div class="form-group">
						<label for="matchingPassword">Confirm Password:</label> <input
							type="password" class="form-control" placeholder=""
							th:field="*{matchingPassword}">
						<p th:each="error : ${#fields.errors('matchingPassword')}"
							th:text="${error}">Validation error</p>
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
				<br/><br/>
			</div>
		</div>
	</div>
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/index.js}"></script>
</body>