<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Your Library</title>
    <link rel="icon" href="/img/reading.png" />

    <script src="https://kit.fontawesome.com/3c78e2f7ea.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu:wght@700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">

    <!-- Vendor CSS Files -->
    <link th:href="@{/vendor/aos/aos.css}" rel="stylesheet">
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link th:href="@{/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</head>

<body class="galary-body">


<!-- Page content holder -->
<div class="page-content p-5" id="content">

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top" style=" background: linear-gradient( 135.9deg,  rgba(109,25,252,1) 16.4%, rgba(125,31,165,1) 56.1% );">

        <div class="container-fluid">


            <nav class="navbar navbar-expand-lg navbar-light ">

                <img  src="/img/reading.png" alt="..." width="60" height="60" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                <h1 class="logo me-30"><a href="">Your Library</a></h1>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" style="color: #ffffff" aria-current="page" href="/"><i class="fa fa-home fa-fw"></i><span>Home</span></a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color: #ffffff"  href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-grav fa-fw"></i>Features
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="why-us"><i class="fa fa-steam  fa-fw" ></i>About</a></li>
                                <li><a class="dropdown-item" href="services"><i class="fa fa-spinner fa-spin fa-fw"></i>Service</a></li>
                                <li><a class="dropdown-item" href="contact"><i class="fa fa-phone fa-fw"></i>Contact</a></li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#"><i class="fa fa-commenting-o fa-fw"></i> Feedback</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item"  href="/uploadphoto">Give Feedback</a></li>
                                        <li><a class="dropdown-item" href="/images">All Feedbacks</a></li>
                                        </li>
                                    </ul>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color: #ffffff"  href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-book fa-fw"></i>Book Gallery
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/books" th:href="@{/books}">All Books</a></li>

                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">Nursing Category</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/anmbooks" th:href="@{/anmbooks}">Anm-all</a></li>
                                        <li><a class="dropdown-item" href="/gnmbooks" th:href="@{/gnmbooks}">Gnm-all</a></li>
                                        <li><a class="dropdown-item" href="/bscbooks" th:href="@{/bscbooks}">Bsc-Nursing-all</a></li>
                                        <!--													<li><a class="dropdown-item" href="#">Another submenu action</a></li>-->


                                        <!--													<li class="dropdown-submenu">-->
                                        <!--														<a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>-->
                                        <!--														<ul class="dropdown-menu">-->
                                        <!--															<li><a class="dropdown-item" href="#">Subsubmenu action</a></li>-->
                                        <!--															<li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>-->
                                        <!--														</ul>-->
                                        <!--													</li>-->
                                        <!--													<li class="dropdown-submenu">-->
                                        <!--														<a class="dropdown-item dropdown-toggle" href="#">Second subsubmenu</a>-->
                                        <!--														<ul class="dropdown-menu">-->
                                        <!--															<li><a class="dropdown-item" href="#">Subsubmenu action</a></li>-->
                                        <!--															<li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>-->
                                        <!--														</ul>-->
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="dropdown-item" href="/computerbooks" th:href="@{/computerbooks}">Computer-Programming</a></li>
                                <li><a class="dropdown-item" href="/sciencebooks" th:href="@{/sciencebooks}">Science</a></li>
                                <li><a class="dropdown-item" href="/engineeringbooks" th:href="@{/engineeringbooks}" >Engineering-All</a></li>
                                <li><a class="dropdown-item" href="/biologicalbooks" th:href="@{/biologicalbooks}" >Biological-All</a></li>
                                <li><a class="dropdown-item" href="/chemistrybooks" th:href="@{/chemistrybooks}" >Chemistry-All</a></li>
                                <li><a class="dropdown-item" href="/mathbooks" th:href="@{/mathbooks}" >Mathematics-All</a></li>
                                <li><a class="dropdown-item" href="#" >History</a></li>
                                <li><a class="dropdown-item" href="#" >Geography</a></li>
                                <li><a class="dropdown-item" href="#" >Story-Books</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" style="color: #ffffff" aria-current="page" href="#"><i class="fa fa-globe fa-fw"></i><span>Career-Drive</span></a>
                        </li>


                        <li class="nav-item dropdown" sec:authorize="!isAuthenticated()">
                            <a class="nav-link dropdown-toggle" style="color: #ffffff"  href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-lock fa-fw"></i><span>Account</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item"  href="/registrasi"><i class="fas fa-user-circle fa-fw"></i>Sign Up</a></li>
                                <li><a class="dropdown-item" href="/login"><i class="fas fa-sign-in-alt fa-fw"></i>Login</a></li>

                            </ul>
                        </li>
                        <li class="nav-item dropdown navbar-right"
                            sec:authorize="isAuthenticated()">
                            <a class="nav-link dropdown-toggle" style="color: #ffffff" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false" href="#" sec:authentication="name"><i class="fa fa-user-circle fa-fw"></i></a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/logout"><i class="fas fa-sign-in-alt fa-fw"></i>Logout</a></li>
                            </ul></li>
                        </li>


                    </ul>
                    <form class="d-flex" id="searchbar" action="/search" method="get">
                        <input aria-label="Search" class="form-control me-2" name="search" placeholder="Search" type="search">
                        <button class="btn btn-info btn-sm " type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>
    </header><!-- End Header -->
    <br>
    <br>
    <br>

    <div class="py-4 px-3 mb-4 bg-light">
        <div class="media  align-items-center">

            <div class="book-body text-center">
                <img loading="lazy" src="../img/feedback.png" alt="..." width="80" height="80" class=" rounded-circle img-thumbnail shadow-sm">
                <h4 class="brand text-center m-1">MedEazy Franchise Partner</h4>

                <p class=" brand-des font-weight-normal text-muted text-center mb-0">@medeazy.in  · Pharmacy / Drugstore</p>
            </div>
            <br>
        </div>
    </div>


<div class=" ">
    <div class="wrapper wrapper--w780">
        <div class="card card-3">
            <div class="card"></div>
            <div class="card-body">



                <form id="form">
                    <div class="input-group">
                        <input class="input--style-3" id="name" name="name" placeholder="Your Name" required="required"
                               type="text">
                        <p id="error_name"></p>
                    </div>
                    <div class="input-group">
                        <textarea class="input--style-3" cols="45" id="description" name="description"
                                  placeholder="Type Feedback" required="required" rows="3"></textarea>
                        <p id="error_description"></p>
                    </div>
                    <div class="input-group">
                        <label class="input--style-3 ">Choose Your Photo</label>
                        <input class="input--style-3" id="image" name="image" placeholder="Choose Image file"
                               required="required" type="file">
                        <p id="error_file"></p>
                    </div>
                    <div class="input-group">
                        <label class="input--style-3 ">max file size 1.2MB</label>
                        <input class="input--style-3" id="rating" name="rating" placeholder="Give Rating" required="required"
                               type="text">
                        <p id="error_price"></p>
                    </div>

                    <div class="right-w3l col-md-6">
                        <input class="btn btn-primary form-control" id="submit" type="button" value="Submit">
                        <br><br>
                    </div>
                    <a class="btn btn-success text-right" href="/images" style="float:left;">Show All Feedbacks</a>
                    <br>

                    <div class="text-center" id="success" style="color:green;"></div>
                    <div class="text-center" id="error" style="color:red;"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Jquery JS-->
<script src="/vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="/vendor/select2/select2.min.js"></script>
<script src="/vendor/datepicker/moment.min.js"></script>
<script src="/vendor/datepicker/daterangepicker.js"></script>

<!-- Main JS-->
<script src="/js/global.js"></script>
<script src="/js/product.js"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/index.js}"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->